@charset "utf-8";
body {
    background-color: #fff5f9; /*웹페이지 전체 배경 색상*/
    font-family: 'KyoboHandwriting2024psw' '-apple-system', 'BlinkMacSystemFont', 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;/*폰트 패밀리*/
    display:flex; 
    flex-direction:column; 
    background-repeat: repeat;
  
}

#drawCanvas {
  cursor: url('pen-cursor.png') 0 26, auto;
}


#eraserBtn {
    margin-left: auto;  
}

#openMenuBtn {
    margin-left: 30px;
}

#turnoverBtn {
  margin-top: 6px;
}

.C-canvas{background-color: rgb(252, 251, 245);
}

.main-container {
    display: flex;           /* 좌우로 배치하려면 flex! */
    align-items: flex-start; /* 세로로 정렬 */
    gap: 25px;               /* 버튼과 캔버스 사이 간격 */
  }
  
  .menu-side {
    display: flex;
    flex-direction: column; /* 세로로 여러 개 버튼 쌓기 */
    justify-content: flex-start;
  }

.tool-side {
  display: flex;
  margin-left: auto;  
  margin-bottom: 8px; /* margin-상단에 16px만큼 생성*/
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  
  /* 모달 내부 콘텐츠 박스 */
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #f4c2c3;
    background-image: url('lace.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  }
  
  .menu-options {
    border: 5px solid #ef9b9c;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu{
    font: 'KyoboHandwriting2024psw';
  }

  .menu-information{
    margin: 0;
  }
  
  .menu-options img {
    width: 120px;
    height: 120px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.2s;
  }
  
  .menu-1, .menu-2 {
    margin-right: 10px;
    display: flex;
    align-items: center; 
    gap: 8px; /* 이미지와 입력창 간격 */
  }
  
  .price-input {
    width: 140px;
    border:#ffffff;
    background-color: #ffffff;
    text-align: right;
    font-size: 16px;
  }

  #closeMenuBtn {
    margin-top: 10px;
  }

  .menu-options img:hover {
    border-color: #ff9f98;
  }
  
  .hidden {
    display: none;
  }

  

  /* 미디어 쿼리: 모바일 화면 (최대 너비 768px) */
@media (max-width: 768px) {
  .canvas-wrapper {
    max-width: 90vw;
  }

.canvas {
    width: 250px;
    height: 250px;
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    border: 5px solid black; /*캔버스 외각선(두께, 색깔)*/
}

.bg-canvas{ 
    width: 250px;
    height: 250px;
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    background-image: url("omelette.png");/*캔버스 배경 "omelette(aimg).jpg" 사용*/
    background-size: cover; /*캔버스 배경이 네모를 꽉 채우게 설정*/
}
.canvas,
.bg-canvas {
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    position: absolute;
    left: 0;
    width: 250px;
    height: 250px;
    touch-action: none;
}
  
.canvas-side {
  flex-direction: column;
  width: 250px;
  height: 250px;
  position: relative;
  aspect-ratio: 1 / 1;
  margin-right: auto;
}

  .menu-options img {
    width: 60px;
    height: 60px;
  }
}


/* 미디어 쿼리: 데스크탑 화면 (최소 너비 769px) */
@media (min-width: 769px) {
  .canvas-wrapper {
    max-width: 700px;
  }

  .canvas {
    width: 700px;
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    border: 5px solid black; /*캔버스 외각선(두께, 색깔)*/

}

.bg-canvas{ 
    width: 700px;
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    background-image: url("omelette.png");/*캔버스 배경 "omelette(aimg).jpg" 사용*/
    background-size: cover; /*캔버스 배경이 네모를 꽉 채우게 설정*/
}
.canvas,
.bg-canvas {
    width: 700px;
    aspect-ratio: 1 / 1; /* 캔버스 비율 1:1 */
    position: absolute;
    left: 0;
    width: 700px;
    height: 700px;
    touch-action: none;
}
.canvas-side {
  flex-direction: column;
  width: 700px;
  position: relative;
  aspect-ratio: 1 / 1;
  margin-right: auto;
}

}

